body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  position: relative; /* Important for stacking */
  z-index: 1;
  flex-direction: column;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(255,255,255,0.85); /* White overlay, 0.7 alpha for 0.3 opacity image */
  background-image: url('./media/background overlay.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: screen; /* or 'overlay', 'screen', or 'soft-light' */

  pointer-events: none;
  z-index: -1;
}

nav {
    width: 100%;
    height: 9vh;
    background-color: #253a86;
    opacity: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 1.2rem;
}

nav > div {
  display: flex;
  align-items: center;
  height: 100%;
}

nav > div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0%;
  font-weight: bold;
}

nav > div:first-child img {
  height: 110%;
  object-fit: contain;
  margin-left: 1vw;
  /* background-color: lightblue; */
  margin-top: 4%;
}


nav > div:last-child ul {
  display: flex;
  list-style: none;
  gap: 10px;
  /* background-color: pink; */
  height: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1vw;
}
nav > div:last-child ul li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: palegreen; */
}
nav > div:last-child ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  height: 100%;
  /* background-color: violet; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1vw;
  padding-right: 1vw;
}

nav > div:last-child img {
    height: 65%;
    width: 100%;
    object-fit: contain;
    /* background-color: teal; */
    margin-bottom: 8%;
}

/* About Page Specific Styles */
.about {
    height: 78vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #253a86;
    align-self: center;
    margin-top: 10vh;
}

.about-content {
    
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    text-align: center;
    width: 85vw;
    height: 100%;
}

.about-content h1 {
    color: #253a86;
    font-size: 1rem;
}

.about-content p {
    line-height: 1.8;
    font-size: 1rem;
    margin-bottom: 5vh;
}

.about-content img {
    margin-top: 5vh;
    object-fit: cover;
    height: 12vh;
    width: 7vw;
}